*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #29303B;
}
.wrapper{
    padding: 50px;
    width: 800px;
    background-image: linear-gradient(#3F4B59, #333046);
    color: #fff;
    text-align: center;
   border: 1px solid #1c232D;
   border-radius: 15px;
   box-shadow: 0 0 15px #1c232D;
}
.wrapper h1{
    font-size: 36px;
    margin-bottom: 10px; ;
}
.wrapper p{
    margin-bottom: 50px;
    font-size: 26px;
    font-weight: 200;
}
.app-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-Left, .section-right{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.app-body input{
    margin-bottom: 10px;
    width: 100%;
    font-size: 60px;
}
.app-body input, .app-body select{
    color: #fff;
    border: none;
    background: none;
    text-align: center;
}